<?xml version="1.0"?>
<launch>
  <node name="republish" pkg="image_transport" type="republish"
	args="compressed in:=/raspicam_node/image raw out:=/raspicam_node/image" />
  
  <node name="aruco_track" pkg="aruco_track" type="aruco_track" args="_publish_debug_image:=true">
    <remap from="~source" to="/raspicam_node/image" />
    <remap from="~camera_info" to="/raspicam_node/camera_info" />
    <remap from="~reference_pose" to="/mavros/local_position/pose" />

    <param name="~markers_dict" value="10" type="int"/>
    <param name="~board_num_x" value="15" type="int"/>
    <param name="~board_num_y" value="10" type="int"/>
    <param name="~board_marker_length" value="0.04" type="double"/>
    <param name="~board_marker_separation" value="0.01" type="double"/>
    <param name="~publish_debug_image" value="false" type="bool"/>
  </node>
</launch>
