<?xml version="1.0"?>
<launch>
  <group ns="hub">

    <include file="$(find aruco_track)/launch/board_raspicam_stream.launch">
        <arg name="markers_dict" value="8"/>
	<arg name="board_num_x" value="7"/>
	<arg name="board_num_y" value="5"/>
	<arg name="board_marker_size" value="0.04"/>
	<arg name="board_marker_separation" value="0.01"/>
	<arg name="tf_fcu2cam" value="0.2 0 0.5 -90 0 -90"/>
    </include>

    <include file="$(find aruco_track)/launch/rviz_raspicam_stream.launch"/>

    <node name="locator" pkg="aruco_track" type="locator" />

  </group>
</launch>
